* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f7fb;
    color: #222;

    opacity: 1;

    transition:
        opacity 0.6s ease,
        transform 0.6s ease;
}


/* PAGE TRANSITION */

body.page-exit {
    opacity: 0;
    transform: scale(1.03);
}


/* LANDING PAGE */

.landing {

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    text-align: center;

    padding: 30px;

}


/* CONTENT */

.landing-content {

    max-width: 700px;

    animation:
        pageEnter 1s ease;

}


/* ENTRANCE ANIMATION */

@keyframes pageEnter {

    from {

        opacity: 0;

        transform:
            translateY(30px);

    }

    to {

        opacity: 1;

        transform:
            translateY(0);

    }

}


/* WELCOME */

.welcome-text {

    font-size: 14px;

    letter-spacing: 5px;

    margin-bottom: 20px;

}


/* TITLE */

h1 {

    font-size: 55px;

    margin-bottom: 20px;

}


/* DESCRIPTION */

.description {

    line-height: 1.7;

    font-size: 18px;

}


/* BUTTON */

.portal-button {

    display: inline-block;

    margin-top: 35px;

    padding: 16px 32px;

    background: #222;

    color: white;

    text-decoration: none;

    border-radius: 30px;

    transition: 0.3s;

}


/* BUTTON HOVER */

.portal-button:hover {

    transform:
        translateY(-5px);

    box-shadow:
        0 10px 25px
        rgba(0,0,0,0.2);

}
/* HEADER */

header {

    display: flex;

    justify-content:
        space-between;

    align-items: center;

    padding: 25px 8%;

    background: white;

}


header h2 {

    font-size: 18px;

}


nav a {

    margin-left: 20px;

    text-decoration: none;

    color: #222;

}


/* PORTAL PAGE */

.portal-page {

    min-height: 80vh;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    text-align: center;

    padding: 40px;

}


/* SUBJECT PAGE */

.subjects-page {

    padding: 70px 8%;

}


/* SUBJECT GRID */

.subject-grid {

    display: grid;

    grid-template-columns:
        repeat(
            auto-fit,
            minmax(230px, 1fr)
        );

    gap: 25px;

    margin-top: 40px;

}


/* SUBJECT CARD */

.subject-card {

    background: white;

    padding: 30px;

    border-radius: 20px;

    text-decoration: none;

    color: #222;

    box-shadow:
        0 10px 30px
        rgba(0,0,0,0.08);

    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;

}


/* CARD HOVER */

.subject-card:hover {

    transform:
        translateY(-8px);

    box-shadow:
        0 20px 40px
        rgba(0,0,0,0.12);

}


/* ICON */

.subject-icon {

    font-size: 45px;

    margin-bottom: 15px;

}


.subject-card h2 {

    margin-bottom: 12px;

}


.subject-card p {

    line-height: 1.6;

}
